# Auth files
/auth/node_modules

# Tickets files
/tickets/node_modules

# Client files
/client/node_modules
/client/.next

# Common files
/common/node_modules
/common/build

# Orders files
/orders/node_modules

# expiration files
/expiration/node_modules

# Payments files
/payments/node_modules